---
layout: home
carousel:
  - image: /uploads/tt-cp--28-b.jpg
    caption:
    link:
  - image: /uploads/summer-spary-paint-inst-2b.jpg
    caption: spray paint
    link:
showcarousel: true
showgalleries: false
_options:
  image:
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: 'image/jpeg,image/png,image/gif'
_comments:
  carousel: Edit the slideshow
  link: Optional web link from the slide
  caption: optional caption
  showgalleries: show thumbnail galleries on home page
---

<div class="editable">

  </div>

    {% if page.carousel and page.showcarousel %}
    <section>

      <div class="flexslider">
          <ul class="slides">
            {% for slides in page.carousel %}
            <li>
              {% if slides.link %}
                <a href="{{ site.baseurl }}{{ slides.link }}" title="View project">
              {% endif %}

              {% include img.html src=slides.image height=300 alt=slides.caption %}

              {% if slides.link %}
                </a>
              {% endif %}

              {% if slides.caption %}
                <p class="flex-caption">{% if slides.link %}<a href="{{ site.baseurl }}{{ slides.link }}" title="View project">{% endif %}{{ slides.caption }}{% if slides.link %}&nbsp;<svg class="icon icon__white icon--readmore"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-double_angle_right" /></svg></a>{% endif %}</p>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>

      </section>

    {% endif %}

    {% if page.showgalleries %}
      <!-- now galleries -->
      <div class="gallery">

      <!-- order galleries by date -->
      {% assign galleries = site.gallery | sort: 'gallery_date' | reverse %}

      {% for gallery in galleries %}

           <section class="gallery--cover {% if gallery.main_image_path %}has--cover{% endif %}" {% if gallery.main_image_path %}style="background-image: url({{ gallery.main_image_path | prepend: gallery.baseurl }});"{% endif %}>
                <a href="{{ gallery.url }}">
                  <div class="scrim {% if gallery.main_image_path %}has--cover{% endif %}">
                  <article class="gallery--front">
                    <header class="gallery--header">
                      <h2 class="cover--title mb0">{{ gallery.title }}</h2>
                    </header>
                    {% if gallery.homepage_description_markdown %}
                    {{ gallery.homepage_description_markdown | markdownify }}  <span class="post--readmore">View gallery <svg class="icon"><use xlink:href="#icon-double_angle_right" /></svg></span>
                      {% endif %}
                </article>
                </div>
              </a>
            </section>

      {% endfor %}
      </div>

    {% endif %}
