---
layout: home
carousel:
  - image: /uploads/tt-cp--28-b.jpg
    caption: Studio
    link:
  - image: /uploads/summer-spary-paint-inst-2b.jpg
    caption: spray paint
    link:
showcarousel: true
_options:
  image:
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
_comments:
  carousel: Edit the slideshow
  link: Optional web link from the slide
  caption: optional caption
---

<div class="editable">

    </div>

    {% if page.carousel and page.showcarousel %}
    <section>

      <div class="flexslider">
          <ul class="slides">
            {% for slides in page.carousel %}
            <li>
              {% if slides.link %}
                <a href="{{ site.baseurl }}{{ slides.link }}" title="View project">
              {% endif %}
              
              {% include img.html src=slides.image height=300 alt=slides.caption %}
             
              {% if slides.link %}
                </a>
              {% endif %}

              {% if slides.caption %}
                <p class="flex-caption">{% if slides.link %}<a href="{{ site.baseurl }}{{ slides.link }}" title="View project">{% endif %}{{ slides.caption }}{% if slides.link %}&nbsp;<svg class="icon icon__white icon--readmore"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-double_angle_right" /></svg></a>{% endif %}</p>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>

      </section>
      {% endif %}

     
</section>