---
layout: page
title: "News"
main_image_path: "/assets/images/train-web-larger.jpg"
image_caption:
permalink: /news/
_options:
  main_image_path:
    width: 1200
    height: 1200
    resize_style: "contain"
    mime_type: "image/jpeg"
---

 <div class="editable">



 </div>

  <section class="blog">

         <ul class="posts--list">

      {% for post in site.posts %}

        <li class="post--inlist">

          <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}" class="post--image">
            {% if post.main_image_path %}
                {% include img.html src=post.main_image_path max-w=400 %}
            {% else %}
                {% include img.html src=site.placeholder_image width=150 %}
            {% endif %}
          </a>

          <div class="post--caption">
              <h3>{{ post.title }}</h3>
              <p>{{ post.excerpt | markdownify }}
              <a href="{{ post.url }}" title="{{ post.title }}">Read more&nbsp;&raquo;</a></p>
            <div class="post--meta">
              <div class="post--date">{{ post.date | date: "%B %Y" }}</div>
              <!-- Editor Link -->
              <a href="cloudcannon:collections/{{ post.path }}" class="editor-link">Edit post</a>
            </div>
          </div>

        </li>

      {% endfor %}
    </ul>
  </section>
