---
layout: default
---

{% assign with_media = false %}
{% if page.video_embed or page.images[0].image_path or page.main_image_path %}
  {% assign with_media = true %}
{% endif %}


<header class="content-header">
  <section class="page-title">
    <h1>{{ page.title }} {% if page.project_date %} <span class="date">[{{ page.project_date | date: '%Y' }}]</span>{% endif %}</h1>
  </section>
</header>

<article class="content">
  <section class="main-content {% if with_media %}with-media{% endif %}">
    {{ content | markdownify}}

  </section>

{% if with_media %}
  <aside class="media">

    {% if page.video_embed %}
    <section class="video-embed">
      {{ page.video_embed }}
    </section>
    {% elsif page.main_image_path %}
    <figure>
      <a href="{% include imgpath.html src=page.main_image_path width=1280 %}" data-lightbox="gallery" data-title="{{ page.main_image_description }}">
      {% include img.html src=page.main_image_path width=400 alt=page.main_image_description %}
      </a>
      <figcaption>{{ page.main_image_description}}</figcaption>
    </figure>
    {% endif %}

    {% if page.images %}

      {% if page.images[0].image_path %}
      <section class="image-gallery">

        {% for image in page.images %}

          {% if forloop.length == 1 %}

            {% if image.image_path %}

              <a href="{% include imgpath.html src=image.image_path width=1280 %}" data-lightbox="gallery" data-title="{{ image.description }}">
                  {% include img.html src=image.image_path width=400 alt=image.description %}
              </a>

            {% endif %}

          {% else %}

            {% if image.image_path %}
            <a href="{% include imgpath.html src=image.image_path width=1280 %}" data-lightbox="gallery" data-title="{{ image.description }}">
                {% include img.html src=image.image_path width=120 height=120 alt=image.description %}
            </a>

            {% endif %}

          {% endif %}

        {% endfor %}
      </section>
      {% endif %}

    {% endif %}
  </aside>
{% endif %}

</article>