// -----------------------------------------------------------------------------
// This file contains all styles related to the navigation
// -----------------------------------------------------------------------------

.navigation {
  margin: 0;
  @include grid-container;
  //@include grid-visual;
  padding: 1em 1em 0;
  z-index: 99; // to cover over flexslider
  background-color: $navigation-background;
}
/// Nav menu
.navigation-wrapper {
  position: relative;
}

/// small view
.navigation-menu-button {
  display: block;
  text-align: right;
  margin: 0;
  font-size: 1.5em;
  padding-top: 0.5em;
  color: $white;
  text-decoration: none;
  .icon-menu {
      fill: $navigation-color;
  }
  &:link {
      color: $navigation-color;
      text-decoration: none;
  }
  &:hover, &:active {
      text-decoration: none;
      color: $navigation-color-hover;
      /// menu icon
      .icon-menu {
          fill : $navigation-color-hover;
      }
  }
  @include grid-media ($small) {
      display: none;
  }
}

.menu-title {
    font-size: 0.9em;
    font-weight: 400;
}

nav {
    float: right;
    @include grid-media ($small) {
        float: none;
        line-height: 1.5em;
    }
}

.navigation-menu {
    clear: both;
    text-align: center;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    @include grid-media ($small) {
        display: block;
        margin: 0;
        padding: 0;
    }
    &.show {
        display: block;
    }
}

/// Nav items

.nav-link {
    display: block;
    text-align: right;
    width: 100%;
    padding: 0.25em 0;
    font-size: modular-scale(-1);
    @include grid-media ($small) {
        background: transparent;
        display: inline-block;
        text-decoration: none;
        width: auto;
    }
    a {
        color: $navigation-color;
        display: inline-block;
        text-decoration: none;
        @include grid-media ($small) {
            padding-right: 1em;
        }
        &:hover {
            color: $navigation-color-hover;
            text-decoration: none;
        }
    }

    &:last-child a {
        @include grid-media ($small) {
            padding-right: 1em;
        }
    }
}
.nav-link.active,
.active {
    a {
        color: $navigation-active-link-color;
    }
}

.show-menu {
  display: block;
}

// Inspired by code by www.HUSAMUI.com